<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FinancialTracker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FinancialTrackerTodayExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84381A16215BFF1B00826A45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84C5F3A02153AF6300BE9DA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84C5F3B72153AF6700BE9DA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84C5F3C22153AF6700BE9DA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
